body {
    background-color: rgb(107,165,241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0,0,0.363);
}

#msg {
    text-align: center;
    margin-bottom: 10px;
}

#foto {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
}

